<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/bioglobal.css" />
    <link rel="stylesheet" href="static/biostyleguide.css" />
    <link rel="stylesheet" href="static/biostylebio.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap-group">
          <p class="element-pygame-kivy">
            Привіт, мене звати Захар, займаюся програмування і взагальному захоплююся IT сферою<br />Давно
            вивчаю пайтон і не так давно почав вивчати Джаву, також інколи роблю 3д моделі в Blender<br />І
            мрію почати розробляти ігри
          </p>
        </div>
        <div class="text-wrapper">ZANDA_R</div>
        <img class="img" src="{{url_for('static',filename = 'img/Blender.svg.png')}}" />
        <img class="image-2" src="{{url_for('static',filename = 'img/Java.svg.png')}}" />
        <img class="image-3" src="{{url_for('static',filename = 'img/python.png')}}" />
      </div>
        <a href="/" class="text-back">Повернутися</a>
    </div>
  </body>
</html>
