<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zanda_R</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <h1>
    <a href="/bio" class="link-nick">Zanda_R</a>
  </h1>
  <h2>
    [<a href="/java" class="link-lang">JAVA</a>|<a href="/py" class="link-lang">PYTHON</a>|<a href="/js" class="link-lang">JAVASCRIPT</a>]
  </h2>
  <div class="links">
    <a href="https://t.me/kutok_3andar" class="link"><img src="https://static.cdnlogo.com/logos/t/57/telegram-2019.svg" alt="Telegram">My channel</a>
    <a href="https://discord.com" class="link"><img src="https://www.svgrepo.com/show/353655/discord-icon.svg" alt="Discord">Discord</a>
    <a href="https://github.com/ZANDARs?tab=overview&from=2025-06-01&to=2025-06-28" class="link"><img src="https://www.shareicon.net/data/128x128/2015/09/15/101512_logo_512x512.png" alt="GitHub">My GitHub</a>
  </div>
</body>
</html>