<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/javaglobal.css" />
    <link rel="stylesheet" href="static/javastyleguide.css" />
    <link rel="stylesheet" href="static/javastylejava.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap-group">
          <p class="element-pygame-kivy">
            Почав вивчати не так давно, відразу почав з Bukkit, Spigot для майнкрафту.<br />Маю
            досвід в написані плагінів для серверу майнкрафт на ядрі Paper.
          </p>
          <img class="image" src="img/image-3.png" />
        </div>
        <div class="text-wrapper">JAVA</div>
        <img class="img" src="{{url_for('static',filename = 'img/Bukkit.png')}}" />
        <img class="image-2" src="{{url_for('static',filename = 'img/Spigot.png')}}" />
        <img class="image-3" src="{{url_for('static',filename = 'img/Papermc.png')}}" />
      </div>
        <a href="/" class="text-back">Повернутися</a>
    </div>
  </body>
</html>