<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/jsglobal.css" />
    <link rel="stylesheet" href="static/jsstyleguide.css" />
    <link rel="stylesheet" href="static/jsstylejs.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap-group">
          <p class="element-pygame-kivy">
            Так так, тут поки нічого немає але в майбутньому я буду вивчати JavaScript<br />Ця
              мова така ж різно стороння як і Python
          </p>
        </div>
        <div class="text-wrapper">NOT FOUND</div>
      </div>
        <a href="/" class="text-back">Повернутися</a>
    </div>
  </body>
</html>
