<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/pyglobal.css" />
    <link rel="stylesheet" href="static/pystyleguide.css" />
    <link rel="stylesheet" href="static/pystylepy.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap-group">
          <p class="element-pygame-kivy">
            Вивчаю з 12 років, працюю з різними бібліотеками такими як: PyGame, PyQT5, Kivy, PIL, Panda3d та інші.<br />Маю
            досвід в розробці ігор, програм з різнми напрямками, сайтів, машиному навчанні.
          </p>
          <img class="image" src="img/image-3.png" />
        </div>
        <div class="text-wrapper">PYTHON</div>
        <img class="img" src="{{url_for('static',filename = 'img/panda3d.png')}}" />
        <img class="image-2" src="{{url_for('static',filename = 'img/qt.png')}}" />
        <img class="image-3" src="{{url_for('static',filename = 'img/Kivy.png')}}" />
      </div>
        <a href="/" class="text-back">Повернутися</a>
    </div>
  </body>
</html>
